a {
  color: #1772d0;
  text-decoration: none;
}

a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
h {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 14px;
}

strong {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 14px;
}

heading {
  font-size: 22px;
}

papertitle {
  font-size: 14px;
  font-weight: 700;
}

name {
  font-size: 32px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
}

.fade {
  transition: opacity 0.2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

.paper-thumb {
  width: 100%;
  max-width: 150px;
}
